body {
    background-image: url(../images/Login/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    margin-top: 50px;
}

.form-group{
    margin-bottom: 15px;
}

.error-message {
    color: #dc3545;
    margin-bottom: 15px;
}